.journal__main-content{
    display: flex;
}
.journal-sidebar{
  background-color:$dark-gray;
  color:white;
  display: flex;
  flex-direction:column;
  height:100%;
  padding-left:  0.625em;
  padding-right: 0.625em;
  width: 30%;
}