.sidebar__content{
    background-color: $dark-grey;
    color: white;
    display: flex;
    flex-direction: column;
    width: 40%;
}
.sidebar__navbar{
    display: flex;
    justify-content: space-between;
}
.sidebar__new-entry{
    margin-left: 1.3em;
    align-items: center;
    display: flex;
    cursor: pointer;
    justify-content: center;
    flex-direction: column;
    transition: color .3s ease;
    &:hover{
        color: darken($color: white, $amount: 15);
    }
}